* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	font-family: Alef, sans-serif;
}
a {
	display: block;
}
.block {
	max-width: 350px;
	margin: 2em 1.5em;
	padding: 1em;
	display: flex;
	flex-flow: column wrap;
	font-size: 16px;
}
h1 {
	color: #7236ff;
	background-color: #ccd9dc;
	padding: 0.5em;
	border-radius: 0px .5em .5em .5em;
}
h2 {
	margin: 1.7em 0px 0.5em 0px;
}
ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1.2em;
}
.link {
	color: #000;
}
.sublink {
	font-size: 1.125em;
}