.about-us .nav__langs .nav__lang,
.about-us .adress,
.about-us .nav__facebook.icon-facebook:before,
.about-us .nav__info .nav__tel {
    color: #B3B3BA;
}

.about-us {
    font-size: 16px;
}

.about-us .header__logo--wrap {
    display: flex;
}

.nav__langs .nav__lang:last-child {
    color: #fff;
}

.about-us .header__logo {
    background-image: url(../img/icons/logo-dark.svg) !important;
}

.wrapper .header__logo--wrap .header__slash {
    color: #F0145A;
    font-size: 47px;
    line-height: 100%;
    font-weight: bold;
    margin: 0px 4px;
}

.wrapper .header__logo--wrap .header__addition {
    font-size: 36px;
    line-height: 44px;
    color: #323264;
}

.about-us .header {
    padding-bottom: 0px;
}

.about-us .main {
    margin-top: 171px;
}

.wrapper .header .nav__item a {
    color: #24a3ff;
}

.wrapper .header .nav__item a:after {
    background: #24a3ff;
}

.wrapper .header .nav__item .current-page {
    color: #F0145A;
}

.wrapper .header .nav__item .current-page:after {
    background: #F0145A;
}

.intro {
    display: flex;
    padding-bottom: 60px;
    justify-content: space-between;
}

.introduction {
    max-width: 662px;
    margin-right: 64px;
}

.main__heading {
    margin-bottom: 28px;
    background: -webkit-linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main__title {
    background: -webkit-linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main__text {
    font-size: 19px;
    line-height: 158%;
    color: #000000;
}

.about-us .subsubtitle {
    color: #323264;
}

.advantages {
    position: relative;
    min-height: 322px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.advantages:before {
    content: '';
    display: block;
    height: 100%;
    width: 4px;
    background: #E6E6F0;
    position: absolute;
    top: 0;
    left: -30px;
}

.advantage__num {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    background: -webkit-linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

.advantage__num .icon-experience:before,
.advantage__num .icon-clients:before,
.advantage__num .icon-probono:before {
    color: #F0145A;
}

/*main*/

.photo {
    height: 30vmax;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/team/team.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.photo .photo__text {
    font-weight: bold;
    font-size: 96px;
    line-height: 117px;
    text-align: center;
    letter-spacing: 63px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.8;
    text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .photo {
        flex-direction: column;
        justify-content: center;
        height: 584px;
    }
    .wrapper {
        padding-top: 171px;
    }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) and (max-width: 768px) {
    .wrapper {
        padding-top: 280px;
    }
}

.more {
    padding: 60px 0px;
    display: flex;
}

.more__title {
    margin-left: 60px;
}

.more__text {
    max-width: 658px;
}

.achievments__slider {
    width: 100%;
}

.achievments__title {
    margin: 30px 0px;
}

.achievments__slide {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.achievments__img--wrap {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 110px;
    margin-right: 40px;
}

.achievments__img--wrap:last-child {
    margin-right: 0px;
}

.achievments__img--wrap img {
    display: block;
    min-width: 53.33px;
    max-width: 159px;
    max-height: 60px;
    min-height: 40px;
}

/* Ограничивающая оболочка */

.slick-list {
    overflow: hidden;
    width: 100%;
}

/* Лента слайдов */

.slick-track {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Слайд */

.slick-slide {
    max-width: 100%;
}

.slick-list {
    height: 90px;
}

.slick-current {
    display: flex;
    justify-content: space-between;
}

/* Клонированный слайд */

.achievments__slider .slick-dots .slick-active {
    opacity: 1;
}

/*----*/

/*adaptive*/

@media screen and (max-width: 1024px) {
    .introduction,
    .more__text {
        max-width: 486px;
    }
}

@media screen and (max-width: 768px) {
    .about-us .main {
        margin-top: 280px;
    }
    .intro {
        flex-direction: column;
    }
    .introduction,
    .more__text {
        max-width: 100%;
        margin-right: 0;
    }
    .advantages {
        margin-top: 30px;
        padding-left: 34px;
    }
    .advantages:before {
        left: 0;
    }
    .photo .photo__text {
        font-size: 46px;
        line-height: 56px;
    }
    .more {
        flex-direction: column;
    }
    .more__text {
        margin-bottom: 30px;
    }
    .more__title {
        margin-left: 0px;
    }
    .achievments__img--wrap {
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .achievments__slide img {
        min-width: 106px;
    }
}

@media screen and (max-width: 425px) {
    
    .about-us .main {
        margin-top: 162px;
    }
    .photo {
        height: 30vmin;
    }
    .about-us .burger-icon span,
    .about-us .burger-icon span:before,
    .about-us .burger-icon span:after {
        background-color: #323264;
    }
    .main .main__heading {
        text-align: left;
    }
    .photo .photo__text {
        font-size: 36px;
        line-height: 44px;
        letter-spacing: 13px;
    }
}

/*--------*/