.main {}

.wrapper .header .nav__item .current-page {
    color: #F0145A;
}

.wrapper .header .nav__item .current-page:after {
    background: #F0145A;
}

.main__major {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%), url(..img/header-bg.svg);
    border-radius: 0px 0px 12px 12px;
    padding-top: 176px;
    position: relative;
    margin-bottom: 80px;
}

.main__major:after {
    content: '';
    width: calc(100% - 40px);
    height: 10px;
    background: #CACADB;
    border-radius: 0px 0px 12px 12px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.main__major:before {
    content: '';
    width: calc(100% - 80px);
    height: 10px;
    background: #E7E7F2;
    border-radius: 0px 0px 12px 12px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.major {}

.major__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.major__scroll {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    border: 2px solid #fff;
    border-radius: 50%;
    opacity: 0.7;
    cursor: pointer;
}

.major__scroll:hover {
    border-color: #F0145A;
}

.major__scroll .icon-keyboard_arrow_down:before {
    font-size: 50px;
    color: #fff;
}

.major__scroll:hover .icon-keyboard_arrow_down:before {
    color: #F0145A;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.services__content {
    margin-bottom: 60px;
}

.services__link {}

.services__title {
    background-image: -webkit-linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .main__title {
        color: #F0145A;
    }
    .services__cards {
        padding-bottom: 60px;
        display: -ms-grid;
        -ms-grid-rows: 1fr 60px 1fr;
        -ms-grid-columns: 1fr 60px 1fr 60px 1fr;
    }
    .services__card {
        max-width: 400px;
    }
    .card-1 {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
    }
    .card-2 {
        -ms-grid-column: 3;
        -ms-grid-row: 1;
    }
    .card-3 {
        -ms-grid-column: 5;
        -ms-grid-row: 1;
    }
    .card-4 {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
    }
    .card-5 {
        -ms-grid-column: 3;
        -ms-grid-row: 2;
    }
    .card-6 {
        -ms-grid-column: 5;
        -ms-grid-row: 2;
    }
    .partners__block {
        display: flex;
        flex-wrap: wrap;
    }
    .partners__item {
        max-width: 430px;
        min-width: 256px;
    }
}

.services__card {
    margin-right: 60px;
    margin-bottom: 60px;
}

.icon__wrap {
    transition-duration: 0.4s;
}

.services__card:hover .icon__wrap {
    animation: wrapping .4s;
    animation-fill-mode: forwards;
    display: flex;
    justify-content: safe center;
}

.services__card:hover .services__subtitle,
.services__card:hover .services__text {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

@keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }
    to {
        -webkit-mask-position: -50%;
    }
}

.services__card:last-child {
    margin-bottom: 0;
    margin-right: 0;
}

@keyframes wrapping {
    0% {
        width: 92px;
    }
    5% {
        width: 25%;
    }
    10% {
        width: 27%;
    }
    15% {
        width: 32%;
    }
    20% {
        width: 35%;
    }
    25% {
        width: 38%;
    }
    30% {
        width: 43%;
    }
    35% {
        width: 48%;
    }
    40% {
        width: 52%;
    }
    45% {
        width: 57%;
    }
    50% {
        width: 62%;
    }
    55% {
        width: 67%;
    }
    60% {
        width: 72%;
    }
    65% {
        width: 77%;
    }
    70% {
        width: 82%;
    }
    75% {
        width: 87%;
    }
    80% {
        width: 92%;
    }
    85% {
        width: 94%;
    }
    90% {
        width: 96%;
    }
    95% {
        width: 98%;
    }
    100% {
        width: 100%;
    }
}

.icon-Ecommerce {}

.services .services__subtitle {
    transition-duration: 0.1s;
    margin-bottom: 15px;
    color: #24A3FF;
}

.services .services__text {
    transition-duration: 0.1s;
    color: #fff;
}

.partners__block {
    display: flex;
    flex-wrap: wrap;
}

.partners__item {
    max-width: 430px;
    min-width: 256px;
}

.partners {
    margin-bottom: 60px;
}

.partners__title {
    text-align: center;
    margin-bottom: 30px;
}

.partners__block {
    border-radius: 12px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.partners__item {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 430px;
    height: 120px;
}

.partners__img {
    max-width: 217px;
}

.hillel {
    background: #1C4280;
}

.wannabiz {
    background: #143646;
}

.tapgerine {
    background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
}

.look3d {
    background: #9E4DC3;
}

.orangear {
    background: #FD9339;
}

.adtelligent {
    background: #E2E2E4;
}

.clickky {
    background: #C71C36;
}

.eco-leasing {
    background: #DCF3F9;
}

.ingratek {
    background: #EAEAEA;
}

.city-par {
    background: #282240;
}

.artprint {
    background: #1D4568;
}

.ultimatecard {
    background: #000000;
}

@media screen and (max-width: 1440px) {
    .main__major {
        padding-top: 175px;
    }
    section.partners {
        max-width: 100% !important;
        border-radius: 0;
    }
    .partners__block.container {
        max-width: 100% !important;
        border-radius: 0;
    }
}

@media screen and (max-width: 1024px) {
    section.partners {
        max-width: 100% !important;
        border-radius: 0;
    }
    .partners__block.container {
        max-width: 100% !important;
        border-radius: 0;
    }
}

@media screen and (max-width: 768px) {
    .main__major {
        padding-top: 280px;
    }
    .services__cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 425px) {
    .services__cards {
        display: flex;
        flex-direction: column;
    }
}