.main {}

.main__heading {
    color: #fff;
}

.main__major {
    background: url(../img/icons/header-bg.svg) top center no-repeat, linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%), url(..img/header-bg.svg);
    border-radius: 0px 0px 12px 12px;
    padding-top: 0px;
    position: relative;
    margin-bottom: 80px;
}

.main__major:after {
    content: '';
    width: calc(100% - 40px);
    height: 10px;
    background: #CACADB;
    border-radius: 0px 0px 12px 12px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.main__major:before {
    content: '';
    width: calc(100% - 80px);
    height: 10px;
    background: #E7E7F2;
    border-radius: 0px 0px 12px 12px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.major {}

.major__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.major__scroll {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    border: 2px solid #fff;
    border-radius: 50%;
    opacity: 0.7;
    cursor: pointer;
}

.major__scroll:hover {
    border-color: #F0145A;
}

.major__scroll .icon-keyboard_arrow_down:before {
    font-size: 50px;
    color: #fff;
}

.major__scroll:hover .icon-keyboard_arrow_down:before {
    color: #F0145A;
}

.head {
    height: 99vh;
    height: 100vh;
    height: 100vh;
    margin-bottom: 60px;
}

.exp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.exp__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 375px;
    margin-right: 60px;
    position: relative;
}

.exp__nav:after {
    content: '';
    display: block;
    height: 303px;
    width: 4px;
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: -14px;
    right: -60px;
}

.exp__btn {
    margin-bottom: 30px;
    cursor: pointer;
    transition-duration: 0.1s;
    color: #B3B3BA;
}

.exp__btn:last-child {
    margin-bottom: 0px;
}

.exp__btn--active {
    background-image: -webkit-linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.exp__btn:hover {
    color: #F0145A;
}

.exp__content {
    color: #fff;
    margin-left: 60px;
}

.exp__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 30px;
}

.exp__text {
    font-size: 19px;
    line-height: 158%;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.services__content {
    margin-bottom: 60px;
}

.services__link {}

.services__title {
    background-image: -webkit-linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .main__title {
        color: #F0145A;
    }
    .services__cards {
        padding-bottom: 60px;
        display: -ms-grid;
        -ms-grid-rows: 1fr 60px 1fr;
        -ms-grid-columns: 1fr 60px 1fr 60px 1fr;
    }
    .services__card {
        max-width: 400px;
    }
    .card-1 {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
    }
    .card-2 {
        -ms-grid-column: 3;
        -ms-grid-row: 1;
    }
    .card-3 {
        -ms-grid-column: 5;
        -ms-grid-row: 1;
    }
    .card-4 {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
    }
    .card-5 {
        -ms-grid-column: 3;
        -ms-grid-row: 2;
    }
    .card-6 {
        -ms-grid-column: 5;
        -ms-grid-row: 2;
    }
    .partners__block {
        display: flex;
        flex-wrap: wrap;
    }
    .partners__item {
        max-width: 430px;
        min-width: 256px;
    }
}

.services__card {
    margin-right: 60px;
    margin-bottom: 60px;
}

.icon__wrap {
    transition-duration: 0.4s;
}

.services__card:hover .icon__wrap {
    animation: wrapping .4s;
    animation-fill-mode: forwards;
    display: flex;
    justify-content: safe center;
}

.services__card:hover .services__subtitle,
.services__card:hover .services__text {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

@keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }
    to {
        -webkit-mask-position: -50%;
    }
}

.services__card:last-child {
    margin-bottom: 0;
    margin-right: 0;
}

@keyframes wrapping {
    0% {
        width: 92px;
    }
    5% {
        width: 25%;
    }
    10% {
        width: 27%;
    }
    15% {
        width: 32%;
    }
    20% {
        width: 35%;
    }
    25% {
        width: 38%;
    }
    30% {
        width: 43%;
    }
    35% {
        width: 48%;
    }
    40% {
        width: 52%;
    }
    45% {
        width: 57%;
    }
    50% {
        width: 62%;
    }
    55% {
        width: 67%;
    }
    60% {
        width: 72%;
    }
    65% {
        width: 77%;
    }
    70% {
        width: 82%;
    }
    75% {
        width: 87%;
    }
    80% {
        width: 92%;
    }
    85% {
        width: 94%;
    }
    90% {
        width: 96%;
    }
    95% {
        width: 98%;
    }
    100% {
        width: 100%;
    }
}

.icon-Ecommerce {}

.services .services__subtitle {
    transition-duration: 0.1s;
    margin-bottom: 15px;
    color: #24A3FF;
}

.services .services__text {
    transition-duration: 0.1s;
    color: #fff;
}

.main__minor {}

.minor {}

.minor__article {}

.team {
    margin-bottom: 60px;
}

.team__slider {}

.team__slide {
    display: flex;
}

/* Ограничивающая оболочка */

.slick-list {
    overflow: hidden;
    width: 100%;
}

/* Лента слайдов */

.slick-track {
    display: flex;
}

/* Слайд */

.slick-slide {
    max-width: 100%;
}

.team__mate {
    min-width: 400px;
    height: 298px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px 0px 0px 12px;
}

.mate-1 {
    background-image: url(../img/team/team-1.jpg);
}

.mate-2 {
    background-image: url(../img/team/team-2.jpg);
}

.mate-3 {
    background-image: url(../img/team/team-3.jpg);
}

.mate-4 {
    background-image: url(../img/team/team-4.jpg);
}

.mate-5 {
    background-image: url(../img/team/team-5.jpg);
}

.mate-6 {
    background-image: url(../img/team/team-6.jpg);
}

.team__content {
    margin-left: 30px;
    padding: 30px;
    max-width: 1200px;
}

.team__link {}

.team__text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    margin-bottom: 30px;
}

.team__name {
    display: block;
    font-size: 16px;
    line-height: 20px;
    color: #B3B3BA;
    font-weight: bold;
}

.team__position {
    font-size: 14px;
    line-height: 157%;
    color: #B3B3BA;
}

.partners {
    margin-bottom: 60px;
}

.partners__title {
    text-align: center;
    margin-bottom: 30px;
}

.partners__block {
    border-radius: 12px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.partners__item {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 430px;
    height: 120px;
}

.partners__img {
    max-width: 217px;
}

.hillel {
    background: #1C4280;
}

.wannabiz {
    background: #143646;
}

.tapgerine {
    background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
}

.look3d {
    background: #9E4DC3;
}

.orangear {
    background: #FD9339;
}

.adtelligent {
    background: #E2E2E4;
}

.clickky {
    background: #C71C36;
}

.eco-leasing {
    background: #DCF3F9;
}

.ingratek {
    background: #EAEAEA;
}

.city-par {
    background: #282240;
}

.artprint {
    background: #1D4568;
}

.ultimatecard {
    background: #000000;
}

.publications {
    padding-top: 30px;
}

.publications__content {
    margin-bottom: 30px;
}

.publications__link {}

.publications__title {
    background-image: -webkit-linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.publications__cards {
    display: flex;
}

.publications__card {
    margin-right: 30px;
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
    width: 33.333%;
    min-height: 430px;
}

.publications__card:last-child {
    margin-right: 0px;
}

.publications__img {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 200px;
    margin-bottom: 30px;
}

.publications__card:first-child .publications__img {
    background-image: url(../img/publication/publication-1.jpg);
}

.publications__card:nth-child(2) .publications__img {
    background-image: url(../img/publication/publication-2.jpg);
}

.publications__card:last-child .publications__img {
    background-image: url(../img/publication/publication-3.jpg);
}

.publications__content--cards {
    padding: 0px 30px;
}

.publications__subtitle {
    margin-bottom: 15px;
}

.publications__date {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #B3B3BA;
}

.publications__text {
    font-size: 14px;
    line-height: 157%;
    color: #000;
}

.publications__text:before {
    content: '';
    display: block;
    margin: 15px 0px;
    width: 100%;
    height: 4px;
    background: #E6E6F0;
}

@media screen and (max-width: 1440px) {
    .main__major {
        padding-top: 175px;
    }
    section.partners {
        max-width: none !important;
        border-radius: 0;
        min-width: 100vw;
    }
    .partners__block.container {
        min-width: 105vw !important;
        border-radius: 0;
        margin-left: -8vw;
    }
    .container {
        max-width: calc(100vw - 120px);
    }
    .header {
        left: 60px;
    }
    .head {
        margin-top: -178px;
    }
    .partners__item img {
        max-width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .main__major {
        padding-top: 158px;
    }
    .exp {
        flex-direction: column;
        overflow: visible;
    }
    .exp__nav {
        display: flex;
        flex-direction: row;
        overflow-y: visible;
        overflow-x: scroll;
        max-width: 100%;
        white-space: nowrap;
        margin-bottom: 3%;
        margin-left: 121px;
    }
    .exp__nav span {
        margin-right: 30px;
        margin-bottom: 60px;
    }
    .exp__nav:after {
        height: 4px;
        width: 1500px;
        top: 92%;
        left: 0;
        z-index: 9999;
    }
    .exp__btn:last-child {
        margin-bottom: 60px;
    }
    .exp__content {
        margin-left: 0px;
    }
    .services__cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .team__slide {
        flex-direction: column;
    }
    .team__content {
        margin-left: 0;
    }
    .team__mate {
        min-height: 500px;
        border-radius: 12px 12px 0px 0px;
    }
    .partners__block {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    section.partners {
        max-width: none !important;
        border-radius: 0;
        min-width: 100vw;
    }
    .partners__block.container {
        min-width: 100vw !important;
        border-radius: 0;
        margin-left: -8vw;
    }
    .partners__item {
        max-width: 100%;
        display: flex;
    }
    .partners__item img {
        max-width: 80%;
    }
    .publications__cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 514px 388px;
        column-gap: 30px;
    }
    .publications__content--cards {
        display: flex;
        flex-direction: column;
        max-width: 249px;
    }
    .publications__card {
        height: 100%;
        width: 100%;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
    }
    .publications__card:last-child {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        margin-right: 0px;
        margin-bottom: 0;
    }
    .publications__card:last-child .publications__card {
        align-items: flex-start;
    }
    .publications__card:last-child .publications__content--cards {
        max-width: none;
    }
    .publications__card:last-child .publications__img {}
    .publications__img {
        border-radius: 0px 8px 0px 0px;
        overflow: hidden;
        min-height: 185px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 425px) {
    .exp__nav:after {
        z-index: 0;
    }
    .team .team__slider .team__mate {
        border-radius: 12px 12px 0px 0px;
    }
    .services__cards {
        display: flex;
        flex-direction: column;
    }
    .partners__block {
        display: flex;
        flex-direction: column;
        width: 111vw;
    }
    .partners__block.container {
        max-width: none!important;
        margin-left: -12vw;
        margin-right: -4vw;
    }
    .partners__item img {
        width: 100%;
        max-width: 50%;
    }
    .partners__block {
        border-radius: 0;
    }
    .publications__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .publications__card {
        margin: 0px 0px 30px 0px;
        align-items: center;
    }
    .publications__content--cards {
        max-width: 255px;
    }
    .publications__img {
        width: 312px;
    }
}