* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img {
    vertical-align: top;
    max-width: 100%;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: Montserrat;
}

.wrapper {
    overflow: hidden;
    min-height: 100vh;
}

.header {
    padding: 96px 0px;
    position: relative;
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__container,
.main__container {
    margin: 0 auto;
    max-width: 1024px;
}

.header__logo--link svg {
	transition-duration: 0.1s;
}

.header__logo--link svg:hover {
	opacity: 0.6;
}

.nav__burger--menu {
    display: none;
}

.nav__menu {
    display: flex;
    gap: 80px;
}

.nav__item a {
    font-size: 20px;
    line-height: 24px;
}

.nav__item a:hover {
	text-decoration: underline;
}

.main__title {
    text-indent: -9999px;
}

.main__text {
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    margin: 42px 0px;
}

.main__subtitle {
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 15px 0px;
}

/*slider*/
/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {}
/* Лента слайдов */
.slick-track{}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{
    width: 100%;
}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}
/**/

.main__blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
    margin: 60px 0px;
}

.main__block {
    display: flex;
    align-items: center;
    max-width: 500px;
    min-height: 394px;
    background-color: #000;
    padding: 50px;
}

.main__subtext {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
}

.main__subtext span {
    font-size: 48px;
}

.main__message {
    margin: 47px 0px 100px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 120px;
    border: 1px solid #000;
    padding: 30px;
}

.main__message textarea::placeholder {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 22px;
    opacity: 0.5;
}

.main__message textarea {
    width: 70%;
    min-height: 100%;
    border: 0;
    outline: none;
    resize: none;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 22px;
    opacity: 0.8;
}

.main__btn {
    font-family: Montserrat;
    width: 200px;
    height: 60px;
    border-radius: 8px;
    background-color: #000;
    font-size: 28px;
    line-height: 34px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    cursor: pointer;
    transition-duration: 0.1s;
}
.main__btn:hover {
	filter: drop-shadow(16px 16px 20px gray);
}

/*laptop*/
@media screen and (max-width: 1024px) {

    .header__container,
    .main__container {
        margin: 0 auto;
        max-width: 919px;
    }

    .header {
        padding: 37px 0px;
    }

    .header__body {
        align-items: center;
        position: relative;
    }

    .nav__menu {
        display: none;
    }

    .header__logo--link {
        margin: 0 auto;
    }

    .nav__burger--menu {
        display: block;
        position: absolute;
        right: 0;
        top: 37px;
    }

    .nav__burger--icon {
        border: none;
        width: 48px;
        height: 31px;
        background: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .nav__burger--icon span {
        position: relative;
        display: block;
        width: 48px;
        height: 5px;
        background-color: #000;
        transition-duration: 0.1s;
    }

    .nav__burger--icon span:before,
    .nav__burger--icon span:after {
        content: '';
        display: block;
        width: 48px;
        height: 5px;
        background-color: #000;
        position: absolute;
        left: 0;
        transition-duration: 0.1s;
    }

    .nav__burger--icon span:before {
        top: -13px;
    }

    .nav__burger--icon span:after {
        top: 13px;
    }

    .menu-open .nav__menu {
        display: flex;
    }

    .menu-open .header__body {
        flex-direction: column;
        align-items: center;
        padding-bottom: 111px;
        padding-top: 36px;
        background: #000;
        min-height: 316px;
        min-width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
    }

    svg path {
        transition-duration: 1s;
    }

    .menu-open .nav__menu a {
        color: #fff;
    }

    .menu-open svg path {
        fill: #fff;
    }

    .menu-open .nav__burger--icon span,
    .menu-open .nav__burger--icon span:before,
    .menu-open .nav__burger--icon span:after {
        background-color: #fff;
    }

    .menu-open .nav__burger--icon span {
        transform: rotate(-45deg);
    }

    .menu-open .nav__burger--icon span:after {
        transform: rotate(90deg);
        top: 0px;
    }

    .menu-open .nav__burger--icon span:before {
        display: none;
    }

    .menu-open .nav__burger--menu {
        right: 57px;
        top: 67px;
    }

    .main__text {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        margin: 42px 0px;
    }

    .main__subtitle {
        font-size: 28px;
        line-height: 34px;
    }

    .main__blocks {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
        margin: 32px 0px;
    }

    .main__block {
        display: flex;
        align-items: center;
        max-width: 100%;
        min-height: 214px;
        background-color: #000;
        padding: 48px;
    }

    .main__message {
        margin: 32px 0px 80px 0px;
    }
}

/*iphone 6,7,8 plus*/
@media screen and (max-width: 375px) {

    .header__container,
    .main__container {
        margin: 0 auto;
        max-width: 335px;
    }

    .header__logo--link {
        display: none;
    }

    .header {
        padding: 0;
    }

    .nav__burger--menu,
    .menu-open .nav__burger--menu {
        right: 19px;
        top: 32px;
    }

    .nav__burger--icon span,
    .nav__burger--icon span:before,
    .nav__burger--icon span:after {
        background-color: #fff;
    }

    .main {
        padding-top: 180px;
    }

    .main__general .main__banner {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .menu-open .header__logo--link {
        display: block;
        margin: 0;
    }

    .menu-open .header__body {
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 44px;
        padding-left: 20px;
        padding-top: 30px;
    }

    .menu-open .nav__menu {
        flex-direction: column;
        gap: 48px;
        margin-top: 42px;
    }

    .main__text {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 28px;
    }

    .main__subtext {
        color: #fff;
        font-size: 16px;
        line-height: 20px;
    }

    .main__subtext span {
        font-size: 24px;
        display: block;
    }

    .main__block {
        padding: 20px;
    }

    .main__subtitle {
        font-size: 20px;
        line-height: 24px;
    }

    .main__message {
        border: 0;
        flex-direction: column;
        padding: 32px 0px;
        margin: 0px;
    }

    .main__message textarea {
        border: 1px solid black;
        margin-bottom: 19px;
        min-height: 150px;
        min-width: 100%;
        padding: 20px;
    }
}